gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# PROTEGER ARCHIVOS SENSIBLES
*.keystore
*.jks
android/key.properties
CREDENCIALES_*.txt

# Firebase config (opcional, algunos prefieren subirlo)
# android/app/google-services.json
